.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}


.slot
{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    background: #404647;
    border-radius: 2px;
}

.slot:after
{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 10px;
    margin: -5px 0 0;
    background: #17191A;
    border-radius: 5px;
    box-shadow: inset 0 -5px #222526;
}

.ticket
{
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 140px;
    line-height: 140px;
    vertical-align: middle;
    margin: -5px 0 0;
    background: #C282C3;
    text-decoration: none;
}

.ticket:before, .ticket:after, .ticket > b, .ticket > c, .ticket > d
{
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 100%;
}

.ticket:after { left: 23px; }
.ticket > b { left: 43px; }
.ticket > c { left: 63px; }
.ticket > d { left: 83px; }

.ticket > em
{
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    background: #B471B5;
}

.ticket > em > b, .ticket > em > c
{
    display: block;
    position: relative;
}

.ticket > em > b:before, .ticket > em > b:after, .ticket > em > c:before, .ticket > em > c:after
{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    background: #C282C3;
    border-radius: 100%;
}

.ticket > em > b:after
{
    left: auto;
    right: -8px;
}

.ticket > em > c
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.ticket > em > c:after
{
    left: auto;
    right: -8px;
}

.ticket > label
{
    display: block;
    position: absolute;
    top: 0;
    left: 100px;
    width: 140px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    color: #A164A2;
    font-weight: bold;
    cursor: pointer;
}

.blockHead:after {
    color: #404647;
    border-left: 25px solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    display: inline-block;
    content: '';
    position: absolute;
    right: -25px;
    top: 0;
}
.blockHead {
    background-color: #404647;
    /*width: 150px; */
    height: 50px;
    line-height: 50px;
    display: inline-block;
    position: relative;
    left: 202px;
}
.blocktext {
    color: white;
    font-weight: bold;
    padding-left: 10px;
    font-family: Arial;
    font-size: 11;
}

.popover-markup .popover{
    width:150%;
}

.popover-markup label{
    padding:0px;
}

.container{
    margin:0px auto;
}

.topfixed {
    transition: all 0.3s ease;
    min-height: 55px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background: white;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
}